# Node.js dependencies
node_modules/

# Electron build output
dist/
build/

# VS Code settings
.vscode/

# Database files


# OS-specific files
.DS_Store
Thumbs.db

# Ignore local config and notes
todo.md