/*
'.' is a class selector e.g. 'class=class_name'
'#' is an id selector e.g. 'id=id_name'
'' is a type selector updating all elements of that type e.g. body
id overrides class selectors in css
*/



#pulse-circle circle{   
   transform-origin: center;
}

@keyframes pulse {
   0% {
       transform: scale(1);
       opacity: 1;
   }
   50% {
       transform: scale(1.2);
       opacity: 0.5;
   }
   100% {
       transform: scale(1);
       opacity: 1;
   }
}

@keyframes radiate { 
   0% { transform: scale(1); opacity: 0.5; } 
   100% { transform: scale(2); opacity: 0;}
}



.zoom-lens {
   position: absolute;
   border: 2px solid #000;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   overflow: hidden;
   pointer-events: none;
   z-index: 22;   
   transform: scale(1); /* Scale factor for zoom */   
 }
 
 .zoom-lens img,
 .zoom-lens video {      
   place-items: center; /* Centers both horizontally and vertically */   
   z-index: 22;
 }

 

body, html{
   background-color:black;   
   overflow: hidden; /*hides the scroll bar */
   height: 100%;
   width: 100%;
}

#background {
   position: fixed; 
   top: -50%; 
   left: -50%; 
   width: 200%; 
   height: 200%;
}

#background img {
   position: absolute; 
   top: 0; 
   left: 0; 
   right: 0; 
   bottom: 0; 
   margin: auto; 
   min-width: 80%;
   min-height: 80%;
   filter: blur(8px);
   z-index: -1;
   filter: opacity(50%);
}

.mainimg {        
   max-width: 100%;
   max-height: 100%;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: none;
   background: transparent;
   z-index: 5;
}

#ImageInfo{
   color: white; /* Fully opaque white text */
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
   font-weight: bold; /* Optional: Bold for better visibility */
   font-size: 15pt;
   position: absolute;
   left: 20px;
   top: auto;
   z-index: 20;
}

#myvideo { 
   position: absolute; 
   top: 0;
   left: 0; 
   z-index: 5; 
   max-width: 100%; 
   max-height: 100%; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   width: 100vw; 
   height: 100vh; 
} 

#playvideo { 
   max-width: 100%; 
   max-height: 100%; 
}


#wifi {   
   position: absolute;
   right: 0px;
   bottom: 0px;
   width:2%;
   height: auto;
   z-index: 10;
}

#readingimages{   
   position: absolute;
   right: 50px;
   bottom: 0px;
   width:2%;
   height: auto;
   z-index: 20;
}

#IntervalPause{   
   position: absolute;
   right: 75px;
   bottom: 0px;
   width:2%;
   height: auto;
   z-index: 20;
}

#databaseError{   
   position: absolute;
   right: 100px;
   bottom: 0px;
   width:2%;
   height: auto;
   z-index: 20;
}

#deleteerror{   
   position: absolute;
   right: 125px;
   bottom: 0px;
   width:2%;
   height: auto;
   z-index: 20;
}

#pause{   
   position: absolute;
   right: 150px;
   bottom: 0px;
   width:2%;
   height: auto;
   z-index: 20;
}


#HideImage{   
   position: absolute;
   right: 200px;
   bottom: 0px;
   width:45px;        
   height: auto;
   z-index: 20;
}

#noRotation{   
   position: absolute;
   right: 225px;
   bottom: 0px;
   width:45px;        
   height: auto;
   z-index: 20;
}


#pulse-circle {
   position: absolute;
   right: 75px;
   bottom: 20px;
   z-index: 20;        
}

#microphone {
   position: absolute;
   right: 75px;
   bottom: 10px;
   width: auto;        
   height: 45px;
   z-index: 20;        
}

#imageHideable {   
   position: absolute;   
   left: 60px;
   bottom: 5px;
   width:auto;        
   height: 24px;
   z-index: 20;  
}

#imageComments {   
   position: absolute;   
   left: 100px;
   bottom: 5px;
   width:auto;        
   height: 24px;
   z-index: 20;  
}


#countdowntimer_svg {
   position: absolute;
   left: 0px;
   bottom: 0px;
   width: 40px;
   height: 40px;
   transform: rotateY(-180deg) rotateZ(-90deg);
   z-index: 20;
   display: flex;
   justify-content: center;
   align-items: center;
}

#countdowntimer {
   stroke-dasharray: 63; /* array is set to 2*pi*r where r is the circle radius in the html section*/
   stroke-dashoffset: 0;
   stroke-linecap: round;
   stroke-width: 3px;
   stroke:lightskyblue;
   fill: none;
}

#countdownnumber{
   font-size: 12px; /* Adjust the size based on your design */
   fill: lightskyblue; /* Use fill instead of color for SVG text */
   text-anchor: middle; /* Center the text horizontally */   
   transform: rotateY(-180deg) rotateZ(-90deg);  /* have to rotate in order to counter _svg rotation */
   transform-origin: 20px 20px; /* Set transform origin to the center of the text element */
}

@keyframes countdown { /*stroke travels from 0 starting to 2*pi*r of circle, this is to create the timer circle*/
   from {stroke-dashoffset: 0;}
   to {stroke-dashoffset: 63;}
}


#debugInfo{   
   color: white; /* Fully opaque white text */
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black outline */
   font-weight: bold; /* Optional: Bold for better visibility */  
   font-size: 15pt;
   position: absolute;
   right: 125px;
   bottom: 0px;
   z-index: 20;
}

#debugInfo td {
   padding-top: 1px;
   padding-bottom: 1px;
}

td {
   padding: 15px;
}